body{
	margin-left:50px;
	margin-right:50px;
	background-image: url(poli.jpg);
	background-repeat:repeat-y;
	background-position:top right;
}
nav{
	padding: 10px 10px 10px 10px ;
	color:#fff;
	font-family: Helvetica,verdana;
	font-size: xx-large;
	font-weight: bolder;
	text-align:center;
	background-color: #000000;

}
#logo{float:left;}


header{
	padding: 10px 10px 10px 10px ;
	
}

dl dt{display: inline;
		padding-right: 50px;


}

dl dt a:hover{
		background-color: #1C1C1C;
		color: #fff;
		text-decoration:none:
		

}

dl dt a {
    padding: 40px 10px 40px 10px ;
	border-bottom:3px;
	text-decoration:none;
	color: #fff;
}

footer{
	clear:both;
	font-family: Helvetica,verdana;
	font-weight: bolder;
	text-align:center;
	background-color: #000000;
	color:#fff;
	margin-top:-100px;
	
}

.maincontainer{
	position: relative;
	width:270px;
	height:240px;

}

.thecard{
	position:absolute;
	width:100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 0.4s ease;

}

.thecard:hover{
	transform: rotateY(180deg);
}

.thefront{
	position: absolute;
	width:100%;
	height:100%;
	border: 4px solid #FF3030;
	backface-visibility: hidden;
	border-radius: 4px;
	background: #4F4F4F;
}

.theback{
	position: absolute;
	width:100%;
	height:100%;
	backface-visibility: hidden;
	background: #4F4F4F;
	transform: rotateY(180deg);
	border: 4px solid #FF3030;
	border-radius: 4px;
	color:#fff;
	
}

figure{
	max-width:270px;
	max-height:270px;
	width:100%;
	height:auto;
	float:left;
	text-align: center;
}

figcaption{
	font-family:Helvetica, sans-serif;
	font-style:oblique;
	font-weight: 600;
	
}